body {
    width:100%;
    margin: 0;
    border: 0;
    padding: 0;
    height: 900px;
    line-height: 1.5;
    background-color: #393939;
}

/*section {
    background-color: #393939;
    margin-top: -8vw;
    
}*/


.header1 {
    position: relative;
    height: 200px;
    overflow: hidden;
}

.inner {
    position: relative;
    height: 200px;
    background-image: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    clip-path: polygon( 0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw) );
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float:left;
    margin-left: 5%;
    font: 50px "Arial";
    color: #FF5A09;
}



nav {
    float: right;
    margin-top:2%;
}

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    nav li {
        display: inline-block;
        margin-left: 75px;
        padding-top: 24px;
        position: relative;
    }

    nav a {
        color: #FF5A09;
        text-decoration: none;
        text-transform: uppercase;
        font: 20px "Arial";
    }

        nav a:hover {
            color: #FF5A09;
        }

        nav a::before {
            content: '';
            display: block;
            height: 5px;
            background-color: #08DECD;
            position: absolute;
            top: 0;
            width: 0%;
            transition: all ease-in-out 250ms;
        }

        nav a:hover::before {
            width: 100%;
        }